{% extends 'base.html' %}
{% block custom_styles %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
{% endblock %}
    
{% block content %}
    <div class="container">
        <h2>Create User</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }} {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label }} {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.name.label }} {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label }} {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
            </div>
            
            <div class="form-group">
                {{ form.user_type.label }} {{ form.user_type(class="form-control") }}
            </div>
            <button type="submit" class="button">Create User</button>
        </form>
    </div>
{% endblock %}
